/* Write your CSS here */
* {
  margin: 0px;
  font-family: Bree Serif;
}
.home-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png);
  background-size: cover;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 18px;
}
.main-heading {
  color: #ffffff;
}
.container-logo {
  display: flex;
  align-items: center;
}
.logo-custom {
  height: 50px;
  margin-right: 15px;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
